.side-menu-container {
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
  backdrop-filter: blur(10px);
  background: linear-gradient(rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .6));
  height: 800px;

  &__profile {
    padding-top: 0px;

    &-avatar {
      margin-right: 0px !important;
    }

    &-location {
      font-size: 0.65rem;
    }

    &-divider {
      border-width: .5px !important;
      border-color: grey;
      margin-top: 15px;
    }
  }

  &__menu {
    &-subheader {
      font-size: 0.65rem;
      padding-left: 10px;
      height: 20px;
    }
  }

  &__auth {
    padding-top: 0px;

    &-divider {
      border-width: .5px !important;
      border-color: grey;
      margin-bottom: 150px;
    }

    &-button {
      font-size: 0.65rem;
    }
  }
}